@CHARSET "ISO-8859-1";

/* @import "../reindeer/styles.css";        /* for 'extend' vaadin themes.*/
@import "../chameleon-blue/styles.css";
  
.header{
	background-color: #fed;
}

.footer{
	background-color: #fed;
}

.loginPanel{
	width: 170px !important;
	padding: 0px;
}

.loginForm{
	height: 120px !important;
	width: 145px !important;
	padding: 10px;
}

.v-textfield-error, .v-select-error{
	background-color: pink;
}