<?xml version="1.0" encoding="UTF-8"?>
<web-app id="Glintt_CVM" 
         version="2.4" 
         xmlns="http://java.sun.com/xml/ns/j2ee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<display-name>CV Management</display-name>
	
	<context-param>
		<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>	
	
	<listener>
		<listener-class>com.glintt.cvm.ApplicationContextListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>cvm</servlet-name>
		<servlet-class>org.vaadin.navigator7.NavigableApplicationServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>com.glintt.cvm.CVApplication</param-value>
		</init-param>
		<init-param>             
            <param-name>webApplication</param-name>
            <param-value>com.glintt.cvm.CVWebApplication</param-value>
       </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>cvm</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>I18NServlet</servlet-name>
	    <servlet-class>org.vaadin.appfoundation.i18n.InternationalizationServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
	    <servlet-name>I18NServlet</servlet-name>
	    <url-pattern>/I18NServlet/*</url-pattern>
    </servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
