<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
       default-lazy-init="true">

	<!-- Vaadin application definition -->
	<bean id="application" class="com.glintt.cvm.CVApplication" scope="prototype"/>
	
	<!-- Navigator7 WebApplication definition -->
	<bean id="webapp" class="com.glintt.cvm.web.CVWebApplication" scope="prototype"/>		
</beans>
