@CHARSET "ISO-8859-1";

@import "../reindeer/styles.css";        
/* @import "../chameleon/styles.css"; */

.header {
	background-color: #fed;
}

.footer {
	background-color: #fed;
	position: fixed;
	bottom: 0;
	z-index: 1;
}

.loginPanel {
	width: 200px !important;
	padding: 0px;
}

.loginForm {
	height: 120px !important;
	padding: 10px;
}

.v-textfield-error, .v-select-error {
	background-color: pink;
}

.linkedin_btn img.v-icon{
 	height: 21px;
    margin-left: 4px;
    margin-top: -5px;
    vertical-align: top;
    width: 89px;
}

.v-button-linkedin_btn, .v-button-linkedin_btn .v-button-wrap, .v-button-linkedin_btn .v-disabled.v-button.v-button-wrap{
	border: none;
	background-image: none !important;
	background-color: transparent;
	padding: 2px 0 0 18px;
}